* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* CORES */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;
    /* TEXTOS */
    --inconsolata: "Inconsolata", sans-serif;
    --asap: "Asap", sans-serif;
    --maven-pro: "Maven Pro", sans-serif;
}

span {
    color: var(--red);
    font-family: var(--inconsolata);
}

p {
    color: var(--gray-500);
    font-family: var(--maven-pro);
}

h1, h2, h3 {
    color: var(--gray-600);
    font-family: var(--asap);
}