* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* CORES */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;
    --cor-github: #000000;
    --cor-HTML: #f4470b;
    --cor-CSS: #0852e9;
    --cor-javascript: #f1c22d;
    --cor-react: #72caf8;
    --cor-node-js: #63b24c;
    /* TEXTOS */
    --inconsolata: "Inconsolata", sans-serif;
    --asap: "Asap", sans-serif;
    --maven-pro: "Maven Pro", sans-serif;
}

span {
    color: var(--red);
    font-family: var(--inconsolata);
}

p {
    color: var(--gray-500);
    font-family: var(--maven-pro);
}

h1, h2, h3 {
    color: var(--gray-600);
    font-family: var(--asap);
}

li {
    list-style: none;
}